body
{
    font-family: sans-serif;
    font-size: 24px;
}

a
{
    text-decoration: none;
    color: inherit;
}

#members 
{
    list-style-type: none;
    padding: 0;
}

#members li
{
    display: flex;
    flex-direction: row;
    min-height: 3rem;
    align-items: center;
    padding: 0 1rem;
}

#members li:nth-child(odd) {
    background: #f8f8ff;
  }
#members li:nth-child(even) {
    background: #e0e0ff;
  }

.name
{
    width: 12rem;
    max-width: 12rem;
}

.card 
{
    width: 4rem;
}

.element
{
    width: 4rem;
}